

.movie-list {
    display:list-item;
    flex-wrap: nowrap; /* Prevent items from wrapping to the next line */
    overflow-x: auto; /* Enable horizontal scrolling if needed */
    width: 100%; /* Set the container's width */
  }
  
  .genre {
    margin-right: 20px; /* Add space between genres */
  }

  
  
  .movie {
    background-color: #ddd;
    padding: 10px;
    margin-right: 10px; /* Add space between movies */
  }

  .action{
    display: flex;
  }

  .comedy {
    display: flex;
  }

  .drama{
    display: flex;
  }