.login-page-body{
  /*8background-color: green;*/
  display: flex;
  font-family: "Times New Roman", Times, serif;
  min-height: 100vh;
  line-height: 1.5;
  margin: 0%;
  justify-content: center;
  align-items:center;
  background: url('../images/istockphoto-1412871535-612x612.jpg');
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.login-page-body .flix-login{
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  padding: 10px 20px;
  transform: 0.2s;
  width: 400px;
  text-align: center;

}

.login-page-body .flix-submit
{
  display: flex;
  justify-content: center;
  align-items: center;
}



.login-page-body h1 {
  color: yellow;
}

.login-page-body label {
  display: block;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 5px;
  text-align: left;
  color: black;
  font-weight: bold;
}

.login-page-body input {
  display: block;
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 15px;
}

.login-page-body .flix-submit{
  padding: 15px;
  border-radius: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  border: none;
  color: black;
  cursor: pointer;
  background-color: #4caf50;
  width: 50%;
  font-size: 16px;
}
