body {
    display: flex;
    /*8background-color: green;*/
    font-family: "Times New Roman", Times, serif;
    flex-direction: column;
    min-height: 100vh;
    line-height: 1.5;
    margin: 0%;
    justify-content: center;
    align-items: center;
    background: url('../images/istockphoto-1412871535-612x612.jpg');
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .flix-submit
  {
    display: flex;
    justify-content: center;
    align-items: center;
  }
   
  
  /* .flix-login{
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 10px 20px;
    transform: 0.2s;
    width: 400px;
    text-align: center;
  }
  */
  
  
  h1 {
    color: yellow;
  }
  
  label {
    display: block;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: left;
    color: black;
    font-weight: bold;
  }
  
  input {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 15px;
  }
  
  button {
    padding: 15px;
    border-radius: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    border: none;
    color: black;
    cursor: pointer;
    background-color: #4caf50;
    width: 50%;
    font-size: 16px;
  }
  
  
  