.navbar {
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 100%;
    margin: 0 auto;
    border-bottom: 1px solid #f2f2f2;
  }
  .navbar h1 {
    color: #97022f;
    width: 25%;
    text-align: center;
  }
  .navbar .navtab {
    width: 25%;
    display: flex;
  }
  .navbar .searchbar {
    width: 25%;
    display: flex;
    text-align: end;
    border: 3px solid orange;
    border-radius: 5px;
  }
  .searchbar input {
    padding: 7px;
    width: 77%;
    border: none;
  }
  .searchbar input:focus {
    border-radius: 5px;
    border-color: rgb(219, 184, 184);
    box-shadow: 0 0 5px red;
  }
  .searchbar button {
    padding: 7px;
    border: 1px;
    border-left: none;
    border-right: orange;
    border-top-right-radius: none;
    border-radius: 2px;
    background: orange;
    width: 20%;
  }
  .navbar .navtab a {
    padding: 8px;
    color: rgb(190, 117, 26);
  }
  .navbar a {
    text-decoration: none;
  }
  .navbar a:hover {
    color: #5c333f;
  }
  .auth {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 25%;
  }
  .auth button{
    padding: 8px;
    border: none;
    font-size: medium;
  }
  
  .auth button a {
    color: black;
  }
  
  .auth button:nth-child(1) {
    background-color: rgb(183, 221, 183);
    border-radius: 8px;
  }
  .auth button:nth-child(2) {
    background-color: rgb(255, 115, 0);
    border-radius: 10px;
    padding: 10px;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: rgb(179, 78, 11);
    padding: 8px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width: 25%;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: flex;
    justify-content: space-around;
  }
  